<%= form_for(@restaurant) do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    <%unless @restaurant.errors[:name].blank?%><%= @restaurant.errors[:name]%><%end%>
  </div>
  <div class="field">
    <%= f.label :country %><br>
    <%= f.country_select :country, prompt: 'Please select a country'%>
    <% unless @restaurant.errors[:country].blank?%><%= @restaurant.errors[:country] %><%end%>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %> <% unless @restaurant.errors[:address].blank?%><%= @restaurant.errors[:address]%><%end%>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %><% unless @restaurant.errors[:phone].blank?%><%= @restaurant.errors[:phone]%><%end%>
  </div>
  <div class="field">
    <%= f.label :url %> <br>
    <font>http://</font><%= f.text_field :url %>
    <% unless @restaurant.errors[:url].blank?%> <%= @restaurant.errors[:url]%><%end%>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
    <% unless @restaurant.errors[:email].blank? %><%= @restaurant.errors[:email]%><%end%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
